body {
  background-image: url('./images/background.jpg');
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 5rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 600px;
  background-color: rgba(119, 140, 179, 0.411);
}

.content {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 900px)  {
  .container {
    width: 450px;
  }
}

@media (max-width: 650px)  {
  .container {
    width: 300px;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 470px)  {
  .container {
    width: 220px;
  }

  h1 {
    font-size: 1.75rem !important;
  }

  .city {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 385px) {
  .container {
    width: 150px;
  }
}

h1 {
  margin-top: 0;
  text-shadow: 1px 1px 1px white;
  font-size: 2.25rem;
}

form {
  width: 99%;
}

.city-label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.search-city {
  display: block;
  width: 100%;
  margin: 0 auto 0.5rem;
  height: 1.5rem;
  outline: none;
}

.weather {
  border: 2px solid black;
  width: 100%;
  margin: 1rem auto 0;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  height: 2rem;
  width: 6rem;
  outline: none;
  background-color: rgb(0, 162, 255);
  color: white;
  border: 2px solid black;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(4, 150, 235);
}

.city {
  font-size: 2.25rem;
  text-shadow: 1px 1px 1px white;
}

.temp {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 1px white;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px white;
}

.Clouds {
  background-image: url('./images/clouds.jpg');
}

.Rain {
  background-image: url('./images/rain.jpg');
}

.Haze {
  background-image: url('./images/haze.jpg');
}

.Clear {
  background-image: url('./images/clear.jpg');
}

.Snow {
  background-image: url('./images/snow.jpeg');
}

.Mist {
  background-image: url('./images/mist.jpg');
}

.Fog {
  background-image: url('./images/fog.jpg');
}







